:root {
/*   -----Dark Theme-----  */
    /* Primary Colors */
    --background: hsl(0, 0%, 0%);
    --Sidebar-Cards: hsl(0, 0%, 11%);
    --Text: hsl(0, 0%, 96%);
    /* Secondary Colors */
    --Buttons-Icons: hsl(43, 74%, 49%);
    --Hover-States: hsla(43, 74%, 49%, 0.15);
    --Borders-Dividers: hsla(0, 0%, 100%, 0.10);
/*   -----Light Theme-----  */
     /* Primary Colors */    
}
/* Fonts */
@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../assets/fonts/inter-v20-latin-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("../assets/fonts/inter-v20-latin-500.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("../assets/fonts/montserrat-v31-latin-500.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("../assets/fonts/montserrat-v31-latin-700.woff2") format("woff2");
}
/* General Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

body {
    font-family: "Inter", sans-serif;
}
/* Siderbar */
.todo__sidebar--wrapper {
    background-color: var(--Sidebar-Cards);

    min-height: 100svh;
    padding: 1rem;
}

.sidebar__top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem;
    margin: 0 0 3rem;

    .sidebar__logo--wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        gap: 0.5rem;

        .logo__title {
            font-size: 1.5rem;
            color: var(--Text);
        }
    }

    .sidebar__settings {
        display: flex;
        gap: 0.5rem;
    }
}

.sidebar__tasks {
    margin: 0 0 3rem;

    .sidebar__tasks--wrapper,
    .inbox,
    .today,
    .tomorrow,
    .week,
    .all {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .add__todo--btn,
    .inbox__btn,
    .today__btn,
    .tomorrow__btn,
    .week__btn,
    .all__btn {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        padding: 0.5rem;
        gap: 0.5rem;
        color: var(--Text);
    }
}

.projects {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem;
    .projects__title {
        color: var(--Text);
    }
}

.finished__todos {
    position: fixed;
    bottom: 1rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    .finished__todos--btn {
        display: flex;
        align-items: center;

        gap: 0.5rem;
        padding: 0.5rem;

        color: var(--Text);
    }
}