:root {
    /* Primary Colors */
    --background: hsl(0, 0%, 0%);
    --Sidebar-Cards: hsl(0, 0%, 11%);
    --Text: hsl(0, 0%, 96%);
    /* Secondary Colors */
    --Buttons-Icons: hsl(43, 74%, 49%);
    --Hover-States: hsla(43, 74%, 49%, 0.15);
    --Borders-Dividers: hsla(0, 0%, 100%, 0.10);
}